[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frida = "*"
quark-engine = {editable = true, path = "."}

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"
coveralls = "*"
codecov = "*"

[requires]
python_version = "3.8"
